body {
  font-family: Arial, sans-serif;
  background-color: #232323;
  margin: 0;
  width: 350px;
  height: 400px;
  font-size: medium;
  padding: 20px;
  color: #fff;
}

h1 {
  color: #ffffff;
  text-align: center;
}

.form {
  background-color: #111111;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 5px;
}

#info {
  font-size: 12px;
  color: #eee5e5;
}

p {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 6px 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #535353;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
